<html>
    <head>
        <meta charset="UTF-8"/>
        <title>variables in templates </title>
    </head>
    <body>
        {{$wisdom := .}}
        <h1> The meaning of life: {{$wisdom}}
    </body>
</html>