<html>
    <head>
        <title>methods in template</title>
    </head>

    <body>
        {{.Name}}
        {{.Age}}
        {{.SomeProcessing}}
        {{.AgeDbl}}
        {{.AgeDbl | .TakesArg}}
    </body>
</html>