<html>
    <head>
        <meta charset="UTF-8"/>
        <title>structs in templates </title>
    </head>
     <body>
        <!-- <ul>
        {{range .}}
        <li>{{.}} </li>
        {{end}}
        </ul> -->

        <!-- OR -->
        //remove above example before running. Since it is not html, go will try to read all line
        <ul>
           <li> {{.Name}} - {{.Motto}}
        </ul>
    </body>
</html>