<html>
    <head>
        <meta charset="UTF-8"/>
        <title>slice of structs</title>
    </head>

    <body>
        <ul>
        {{range .Wisdom}}
        <li>{{.Name}}  - {{.Address}} </li>
        {{end}}
        </ul>

        <ul>
                {{range .Hope}}
                <li>{{.Manufacture}}  - {{.Speed}} </li>
                {{end}}
        </ul>
    </body>
</html>